// 文字选中颜色
::selection {
  background: $color-theme;
  color: $color-white;
}

// 滚动条颜色
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-theme;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

:root {
  // 间隙
  --small-gap: 8px;
  --base-gap: calc(var(--small-gap) * 2);
  --large-gap: calc(var(--base-gap) + var(--small-gap));
}

@media screen and (max-width: 768px) {
  :root {
    --small-gap: 5px;
  }
}

html,
body {
  &.h-f-100 {
    height: 100%;
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--color-main-background);
  font: $font-size-base "play", PingFangSC-Regular, Microsoft Yahei;
  line-height: $line-height-base;
  color: var(--color-primary);

  &.blank-page {
    background-color: var(--color-sub-background);
  }
}

.nuxt-link-exact-active {
  color: var(--color-theme);
}

// 表情
.wp-smiley {
  width: 20px !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  box-shadow: none !important;
}

.menu-mask {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: $color-mask;

  &.is-show-menu {
    z-index: $z-index;
    opacity: 1;
  }
}

// 翻页按钮
.main {
  transition: .5s;

  &.is-show-menu {
    transform: translateX(-240px);
  }

  .el-pagination {
    margin: 30px 0;
    text-align: center;

    li {
      border: 0;

      &:last-child {
        border: 0;
      }

      &.active,
      &:hover {
        background: none;
        color: var(--color-theme);
      }
    }

    .btn-next,
    .btn-prev {
      border: 0;
    }
  }
}

// 文章详情正文内容
.content-details {
  line-height: 2;
  $title-font-size: (
    1: 28px,
    2: 24px,
    3: 20px,
    4: 18px,
    5: 16px,
    6: 14px
  );
  @each $level, $size in $title-font-size {
    h#{$level} {
      margin: var(--large-gap) 0 calc(var(--base-gap) / 2);
      font-size: $size;
      line-height: $size + 8px;

      & + * {
        margin-top: 0 !important;
      }
    }
  }

  a {
    color: $color-theme;
  }

  img {
    height: auto !important;
    margin-top: var(--small-gap);
    vertical-align: baseline;

    &.wp-smiley {
      margin-top: 0;
    }
  }

  ul,
  ol {
    margin: var(--base-gap) 0;

    li:first-of-type {
      margin-top: 0;
    }
  }

  li {
    margin-top: var(--small-gap);
  }
}

// 代码高亮
.code-toolbar {
  margin: var(--small-gap) 0 var(--base-gap);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  overflow: hidden;

  pre {
    margin: 0;

    &:after,
    &:before {
      display: none;
    }

    > code {
      border-left: 0;
      box-shadow: none;
    }
  }

  :not(pre) > code[class*=language-],
  pre[class*=language-] {
    background: none;
  }
}

// 鼠标点击特效
.move-dot-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  animation: move-dot .8s linear forwards;
}

@keyframes move-dot {
  to {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
}

@media screen and (max-width: 1200px) {
  .desktop-show {
    display: none;
  }

  .tablet-show {
    display: block;
  }

  .wrap {
    width: 94%;
  }

  // 文章列表
  .article-list-wrap,
  .container {
    .thumbnail-wrap {
      width: 260px;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .phone-show {
    display: block;
  }

  .phone-hide {
    display: none;
  }

  .article-list {
    .list-content {
      width: 100%;
      margin: 0;
    }
  }
}

// 代码块增加行号
pre {
  position: relative;
  min-width: 600px;
  margin: 0;
  code.hljs{
    padding: 1em 0;
  }
}
.hljs {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1px;
  color: #abb2bf;
  font-weight: 200;
  font-size: 0.75rem;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  line-height: 1.5;
  white-space: pre-wrap;
  border: 0;
}
.hljs ol {
  margin: 0 0 0 35px;
  padding: 0;
  list-style-type: decimal;
}
.hljs ol li {
  // padding: 5px;
  padding-left: 10px;
  color: #abb2bf;
  white-space: pre;
  // list-style: decimal-leading-zero;
  list-style-position: outside;
  border-left: 1px solid #c5c5c5;
  margin-top: 0;
}

// switch-theme
.switch-theme{
  font-size: 8px;
  line-height: normal;
  .c-switch__background {
    --border: #193a4a;
    color: #96cae5;
    width: 6.25em;
    height: 3.125em;
    padding: 0.375em 0.438em;
    border: 0.188em solid var(--border);
    border-radius: 3.125em;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: #1e4b65;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .c-switch__background::before,
  .c-switch__background::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: currentColor;
  }
  .c-switch__background::after {
      height: 9em;
      width: 9em;
      top: -115%;
      left: -10%;
      transform: scale(0.03);
      z-index: 1;
      transition: transform 0.3s;
  }
  .c-switch__background::before {
      height: 0.2em;
      width: 0.2em;
      top: 20%;
      left: 55%;
      box-shadow: -0.1em 1.5em 0 -0.025em, 1.5em 0.3em 0 0.01em, 1.5em 0.3em 0 0.01em, 1.5em 1.3em 0 -0.05em, 1em 1.7em 0 -0.02em;
  }
  .c-switch__figure {
      height: calc(3.125em - 0.375em - (0.188em * 4));
      width: calc(3.125em - 0.375em - (0.188em * 4));
      border-radius: 50%;
      border: 0.188em solid #caba94;
      box-sizing: inherit;
      display: inline-block;
      position: relative;
      z-index: 2;
      background-color: #ffefb5;
      box-shadow: inset -0.15em -0.15em #ffe096;
      background-image: radial-gradient(circle at 60% 10%, #e6cea5 15%, transparent 0), radial-gradient(circle at 30% 50%, #e6cea5 10%, transparent 0), radial-gradient(circle at 60% 70%, #e6cea5 13%, transparent 0);
      transition: transform 0.2s ease-in-out, background-color 0.3s, border-color 0.3s;
  }
  .c-switch__figure::after {
      color: white;
      content: "";
      position: absolute;
      right: 50%;
      top: 55%;
      width: 1.5em;
      height: 0.3em;
      border-radius: 2em;
      box-shadow: -0.5em -0.2em, -1em 0.1em 0 -0.1em;
      opacity: 0;
      transform: translateX(-50%);
      background-color: currentColor;
  }
  .c-switch__input {
      display: none;
  }
  .c-switch__input:checked + .c-switch__background {
      --border: #8abed8;
      background-color: currentColor;
  }
  .c-switch__input:checked + .c-switch__background::after {
      transform: scale(1);
  }
  .c-switch__input:checked + .c-switch__background > .c-switch__figure {
      transform: translateX(calc(6.25em - (100% + (0.438em * 2) + (0.188em * 2))));
      background-color: #ffde7b;
      border-color: #debd56;
      box-shadow: none;
      background-size: 0;
  }
  .c-switch__input:checked + .c-switch__background > .c-switch__figure::after {
      transition: transform 0.5s, opacity 0.5s;
      opacity: 1;
      transform: translateX(0%);
  }
}